%div{"data-role" => "page", "data-theme" => "a"}
  %div{"data-position" => "inline", "data-role" => "header"}
    %h1 Salat times for #{@location.name} on #{@salat.date}
  %div{"data-role" => "content", "data-theme" => "a"}
    - if @salat
      %div.ui-body.ui-body-d.ui-corner-all
        %table.table-stroke.ui-responsive{:data => {:role => 'table', :mode=>'fixed'}}
          %thead
            %tr.ui-bar-a
              %th
              %th Athan
              %th Iqama

          %tbody
          - [:fajr, :dhuhr, :asr, :maghrib, :isha].each do |time|
            %tr
              %td.label=t(time)
              %td= @salat.times["#{time}_athan"]
              %td= @salat.times["#{time}_iqama"]
    -else
      = t('not_available')


