<!DOCTYPE html>
<html>
<head>
  <title>Mobile Salat</title>
  <link rel="apple-touch-icon-precomposed" href="<%= image_path 'icon.png' %>"/>
  <link rel="icon" type="image/png" href="<%= image_path 'icon.png' %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false%>
  <%= stylesheet_link_tag "http://code.jquery.com/mobile/1.3.2/jquery.mobile.structure-1.3.2.min.css" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>

  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-17963607-5', 'mobilesalat.com');
    ga('send', 'pageview');

  </script>
</head>
<body>

<%= yield %>

</body>
</html>

